
@using Microsoft.AspNetCore.Identity
@inject UserManager<MeiditationActivity.Models.ApplicationUser> UserManager
@inject SignInManager<MeiditationActivity.Models.ApplicationUser> SignInManager


<link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" />



@model IEnumerable<MeiditationActivity.Models.RangeMeter>
@{

}






<h2>Succsessfully Submitted</h2>



<table id="tblData" class="table  table-bordered table-hover">
   
    
    @if (SignInManager.IsSignedIn(User))
    {

        @if (User.IsInRole("Admin"))
        {

            <thead>
                <tr>
                    <th>User</th>

                    <th>Physical Load</th>
                    <th>Sleeping Quality</th>
                    <th>MentalStatus Rate</th>
                    <th>Physical Status Rate</th>
                    <th>Sleeping Hour</th>
                    <th>Created</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var range in Model)
                {
                    <tr>
                        <td>@range.User</td>

                        <td>@range.PhysicalLoad</td>
                        <td>@range.SleepQuality</td>
                        <td>@range.MentalStausRate</td>
                        <td>
                            @range.PhysicalStatusRate
                        </td>
                        <td>@range.sleepingHour</td>
                        <td>@range.Created</td>

                    </tr>
                }


            </tbody>
        }

    }
    </table>



@*<div class="border backgroundWhite">

        <h1>Activity Table</h1>
        <br>
        <br />

        <table id="tblData" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>Created</th>
                    <th>Physical Load</th>
                    <th>MentalStatus Rate</th>
                    <th>Physical Status Rate</th>
                    <th>Sleeping Quality</th>


                </tr>
            </thead>
        </table>
    </div>

    @section Scripts{
        <script src="~/js/rangemeter.js"></script>
    }*@

@section Scripts{
    <script>

        $(document).ready(function () {
            $('#tblData').DataTable();
        });
    </script>
}

<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.serializeJSON/2.9.0/jquery.serializejson.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
<script src="https://kit.fontawesome.com/e19c476714.js"></script>